<!-- wp:template-part {"slug":"header","theme":"vw-taxi-booking","tagName":"header"} /-->

<!-- wp:pattern {"slug":"vw-taxi-booking/home-slider"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:pattern {"slug":"vw-taxi-booking/our-taxis-section"} /--></main>
<!-- /wp:group -->
	
<!-- wp:pattern {"slug":"vw-taxi-booking/experience-section"} /-->
<!-- wp:pattern {"slug":"vw-taxi-booking/testimonial-section"} /-->
<!-- wp:pattern {"slug":"vw-taxi-booking/news-section"} /-->
<!-- wp:pattern {"slug":"vw-taxi-booking/faq-section"} /-->

<!-- wp:template-part {"slug":"footer","theme":"vw-taxi-booking","tagName":"footer"} /-->
